[pull]
  rebase = true

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$REMOTE" "$LOCAL"

[merge]
    tool = meld

[mergetool "meld"]
    cmd = meld "$REMOTE" "$BASE" "$LOCAL" --output "$MERGED"

[push]
  default = current

[commit]
  template = /home/ofrades/.git-commit-message.txt

[color]
  ui = true

[core]
  pager = delta
	editor = nvim
	excludesfile = /home/ofrades/.gitignore_global

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  side-by-side = true
  line-numbers = true
  minus-style = "#fdf4c1" "#cc241d"
  plus-style = "#fdf4c1" "#689d6a"

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[url "git@github.com:"]
	insteadOf = https://github.com/

[include]
    path = ~/.gitconfig.local
[includeIf "gitdir:~/dev/neuraspace/"]
    path = ~/.gitconfig.work
