fish_variables
config/fish/fish_history
ssh/.ssh/known_hosts

lazygit/.config/lazygit/state.yml
nvim/.config/nvim/plugin
ssh/.ssh/known_hosts.old
.idea
fish/.config/fish/completions
nvim/.config/nvim/sessions
local/.local/bin
aws/.aws/sso/cache
