" plugins
set NERDTree
set surround
set commentary
set highlightedyank

" settings
set ideajoin
set ideamarks
set ideawrite=all
set ideastatusicon=gray
set idearefactormode=keep
set showmode
set clipboard+=unnamed

" mappings
" set leader to space bar
let mapleader=" "

" jetbrains specific
nnoremap <leader>m :action ToggleFullScreen<CR>
nnoremap <leader>jr :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>j. :e ~/.ideavimrc<CR>

" code navigation
nnoremap gd :action GotoDeclaration<CR>
nnoremap gh K
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action FindUsages<CR>
nnoremap ga :action GotoAction<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>R :action RenameFile<CR>
nnoremap gf :action ReformatCode<CR>
nnoremap gI :action OptimizeImports<CR>
nnoremap g] :action GotoNextError<CR>
nnoremap g[ :action GotoPreviousError<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-o> :action Back<CR>
inoremap <C-Space> <ESC>:action CodeCompletion<CR>

" code manipulation
nnoremap <C-n> :action SelectNextOccurrence<CR>
xnoremap <C-n> :action SelectNextOccurrence<CR>
nnoremap <A-j> :action MoveLineDown<CR>
inoremap <A-j> :action MoveLineDown<CR>
vnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
inoremap <A-k> :action MoveLineUp<CR>
vnoremap <A-k> :action MoveLineUp<CR>

" nice defaults to have
nnoremap Y y$
nnoremap D d$
nnoremap C c$
nnoremap H ^
nnoremap L $
vnoremap < <gv
vnoremap > >gv
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-h> <C-w>h
nnoremap <C-k> <C-w>k
nnoremap <C-a> ggVG<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>w :w<CR>
nnoremap <leader>n :sp ~/notes/note.md<CR>

" font size manipulation
nnoremap <C-=> :action EditorIncreaseFontSize<CR>
nnoremap <C--> :action EditorDecreaseFontSize<CR>

" jetbrains regular keymaps in insert mode
sethandler <C-a> a:ide
sethandler <C-b> a:ide
sethandler <C-c> a:ide
sethandler <C-d> n-v:vim i:ide
sethandler <C-e> n-v:vim i:ide
sethandler <C-f> a:ide
sethandler <C-s-f> a:ide
sethandler <C-g> a:ide
sethandler <C-h> a:vim
sethandler <C-i> a:vim
sethandler <C-j> a:vim
sethandler <A-j> a:vim
sethandler <C-k> a:vim
sethandler <A-k> a:vim
sethandler <C-l> a:vim
sethandler <C-m> a:ide
sethandler <C-n> a:ide
sethandler <C-o> a:vim
sethandler <C-r> n-v:vim i:ide
sethandler <C-s-r> a:ide
sethandler <C-s> a:ide
sethandler <C-p> a:ide
sethandler <C-q> n-v:vim i:ide
sethandler <C-v> n-v:vim i:ide
sethandler <C-t> a:ide
sethandler <C-u> a:vim
sethandler <C-w> a:vim
sethandler <C-y> n-v:vim i:ide
sethandler <C-x> a:ide
sethandler <C-z> a:ide
