  @define-color dark-1 #1f2335;
  @define-color dark-2 #24283b;
  @define-color dark-3 #364a82;
  @define-color dark-4 #545c7e;
  @define-color blue #7aa2f7;
  @define-color white #c0caf5;
  @define-color green #9ece6a;
  @define-color red #f7768e;

* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-weight: 600;
    font-size: 11px;
}

window#waybar {
    background-color: @dark-1;
    color: @white;
}

#window {
    border: none;
    color: @green;
}


#workspaces button {
    padding: 0px;
    border-radius: 0;
    border: none;
    color: @blue;
}

#workspaces button:hover {
    background: @dark-2;
    color: @green;
}

#workspaces button.focused {
    background-color: @dark-1;
    color: @green;
}

#workspaces button.urgent {
    background-color: @dark-4;
    color: @red;
}

tooltip {
    background: @dark-2;
    border-radius: 8px;
}

tooltip label {
    font-size: 11px;
    color: @white;
}

widget label,
widget image {
    padding: 0 8px;
}

@keyframes blink {
  to {
      background-color: @white;
      color: @dark-1;
  }
}

#battery.warning:not(.charging) {
    background: @red;
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
