  @define-color dark-1 #2E3440;
  @define-color dark-2 #3B4252;
  @define-color dark-3 #434C5E;
  @define-color dark-4 #4C566A;
  @define-color blue #5E81AC;
  @define-color white #D8DEE9;
  @define-color yellow #EBCB8B;
  @define-color red #BF616A;

* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-weight: 600;
    font-size: 11px;
}

window#waybar {
    background-color: @dark-1;
    border-bottom: 3px solid @dark-2;
    color: @white;
}

#window {
    border: none;
    color: @yellow;
}


#workspaces button {
    padding: 0px;
    border-radius: 0;
    border: none;
    color: @blue;
}

#workspaces button:hover {
    background: @dark-2;
    color: @yellow;
}

#workspaces button.focused {
    background-color: @dark-4;
    color: @yellow;
}

#workspaces button.urgent {
    background-color: @dark-4;
    color: @red;
}

tooltip {
    background: @dark-2;
    border-radius: 8px;
    border: 1px solid @dark-1;
}

tooltip label {
    font-size: 11px;
    color: @white;
}

widget label,
widget image {
    padding: 0 8px;
    border-right: 3px solid @dark-2;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
  to {
      background-color: @white;
      color: black;
  }
}

#battery.warning:not(.charging) {
    background: @red;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
